{% extends "header.html" %} 
{% block title %}
Map - CampusPulse Access
{% endblock %}
{% block metadata %}
<link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js"></script>
{% endblock %}
{% block content %}


<div id="map" style="height: 100%;"></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGxsMzE4MiIsImEiOiJjbTd5MGl0Z2EwMmY4Mmtva3RwZGhsZzN2In0.IJf35DbJhKNps9DCMdpt0A';

    v1 = new mapboxgl.LngLatBounds([-77.70100,43.04672], [-77.65506, 43.09033]);
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/dll3182/cm83naqcq003701qvbsvm95v6', // Custom Mapbox style
        center: [-77.6745, 43.0847], // Center on your school
        zoom: 15.9, // Adjust the zoom level
        maxBounds: v1 // Restrict the map to the campus bounds
    });

    map.on('load', async () => {

        map.addSource("accesspoints", {
            type: "geojson",
            data: '/map.geojson',
            cluster: true,

            clusterProperties: {
                statusPriority: [
                    "max",
                    [
                        "match",
                        ["get", "status"],
                        "BROKEN", 3,
                        "IN_PROGRESS", 2,
                        "VERIFIED", 1,
                        0
                    ]
                ],
                        
            }
        });

        function createPin(color) {
            const svg = `
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 40 50">
                <path
                    d="M20 0C8.95 0 0 8.95 0 20c0 15 20 30 20 30s20-15 20-30C40 8.95 31.05 0 20 0z"
                    fill="${color}"
                    stroke="#000000"
                    stroke-width="2"
                />
                <circle cx="20" cy="20" r="7" fill="#ffffff"/>
            </svg>
            `;

            return new Promise((resolve) => {
                const image = new Image(40, 50);

                image.onload = () => resolve(image);

                image.src ='data:image/svg+xml;charset=utf-8,' + encodeURIComponent(svg);
            });
        }

        const colors = {
            UNKNOWN: "#66ff00",
            BROKEN: "#ff000d",
            IN_PROGRESS: "#FFFF00",
            FIXED: "#66ff00",
            VERIFIED: "#66ff00"
        };

        for (const [status, color] of Object.entries(colors)) {
            const image = await createPin(color);
            map.addImage(`pin-${status}`, image);
        }

        map.addLayer({
            id: "clusters",
            type: "circle",
            source: "accesspoints",
            filter: ["has","point_count"],

            paint: {
                "circle-color": [
                    "match",
                    ["get", "statusPriority"],
                    // BROKEN
                    3, "#ff000d",
                    // IN_PROGRESS
                    2, "#FFFF00",
                    // VERIFIED
                    1, "#66ff00",
                    // Default
                    "#66ff00"
                ],

                "circle-radius": 10,
                "circle-stroke-color": "#000000",
                "circle-stroke-width": 2
            }
        });

        map.addLayer({
            id: "unclustered-point",
            type: "symbol",
            source: "accesspoints",
            filter: [ "!", ["has","point_count"]],
            layout: {
                "icon-image": [
                    "match",
                    ["get", "status"],

                    "UNKNOWN", "pin-UNKNOWN",
                    "BROKEN", "pin-BROKEN",
                    "IN_PROGRESS", "pin-IN_PROGRESS",
                    "FIXED", "pin-FIXED",
                    "VERIFIED", "pin-VERIFIED",

                    "pin-UNKNOWN"
                ],

                "icon-size": 0.8,
                "icon-anchor": "bottom",
                "icon-allow-overlap": true
            }
        });

        map.on('click', 'unclustered-point', (e) => {
            const coordinates = e.features[0].geometry.coordinates.slice();
            const id = e.features[0].properties.id;
            const building = e.features[0].properties.building_name;
            const room = e.features[0].properties.room;
            const status = e.features[0].properties.status;

            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(`
                    Building: ${building}<br>
                    Room: ${room}<br>
                    Status: ${status}<br>
                    <a href="https://access.campuspulse.app/access_points/${id}">
                        Report Link
                    </a>
                `)
                .addTo(map);
        });
        map.on(
            'click',
            'clusters',
            (e) => {
                const features =
                    map.queryRenderedFeatures(
                        e.point,
                        {
                            layers: ['clusters']
                        }
                    );

                const clusterId =
                    features[0].properties.cluster_id;

                map.getSource('accesspoints').getClusterExpansionZoom(clusterId,(err, zoom) => {
                    if (err) {
                        return;
                    }
                    map.easeTo({
                        center: features[0].geometry.coordinates, zoom: zoom
                    });
                });
            }
        );

        
    });
</script>
{% endblock %}
